@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@keyframes breathing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body{
  overflow: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


#user-welcome{
  color: white;
  font-family: Roboto;
  display: flex;
  align-items: center;
}
#user-welcome h2{
  font-size: 16px;
  text-transform: capitalize;
}
#user-welcome a{
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-align: right;
}
#user-welcome .logout {
  margin-left: 20px;
}

nav {
  background: rgb(46, 49, 146);
  background: linear-gradient(6deg, #d4145a 27%, #fbb03b 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.sitename {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  font-family: "Oswald";
  position: relative;
  left: 25px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 20px;
  transition: text-shadow 0.2s ease-in-out;
}

nav ul li a:hover {
  background: rgba(255, 102, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.username {
  color: #fff;
  position: relative;
  right: 25px;
}
nav ul li.sludinajums {
  position: relative;
  white-space: nowrap;
}

nav ul li.sludinajums .slud {
  animation: breathing 3s infinite;
  position: absolute;
  color: #000080;
}

.cars {
  height: 100%;
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}
.heading-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.heading-container img {
  width: 30px;
  margin-right: 10px;
}
.heading-container h1 {
  font-size: 24px;
  font-family: Roboto, sans-sarif;
}

.car-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid;
  border-image: linear-gradient(to right, #d4145a, #fbb03b);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  text-decoration: none;
}

.car-card h2 {
  margin-top: 0;
  text-decoration: none;
  color: black;
  font-family: Roboto, sans-sarif;
  display: inline-block;
}

.car-card h2.first {
  color: black;
}
.car-card h2.second {
  color: grey;
  margin-left: 2px;
  font-size: 12px;
}

.car-card img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

footer {
  background: rgb(46, 49, 146);
  background: linear-gradient(6deg, #d4145a 27%, #fbb03b 100%);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.footer-content p {
  margin: 0;
}

.footer-content p::before {
  content: "\00A9";
  margin-right: 5px;
}
