<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="sitename">NotSS</div>
      <ul>
        <li><a href="{{ url_for('home') }}">Transporti</a></li>
        <li><a href="{{ url_for('houses') }}">Mājokli</a></li>
        <li><a href="">Elektronikas Preces</a></li>
        <li class="sludinajums">
          <a href="#" class="slud">Pievienot sludinājumu</a>
          <div class="dropdown">
            <ul>
              <li><a href="{{ url_for('uploadcar') }}">Transporti</a></li>
              <li><a href="{{ url_for('uploadhouse') }}">Mājokli</a></li>
              <li><a href="#">Elektronikas Preces</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div id="user-welcome">
        <div class="greeting">
          <h2>Sveicināti, {{ username }}!</h2>
        </div>
        <div class="logout">
          <a href="{{ url_for('logout') }}" class="slud">Iziet</a>
        </div>
      </div>
    </nav>
    <content class="cars">
      <div class="heading-container">
        <img
          src="{{ url_for('static', filename='images/caricon.png') }}"
          alt="Ikona"
        />
        <h1>Transports un tehnika</h1>
      </div>
      <div class="car-gallery">
        {% for car in cars %}
        <a
          href="{{ url_for('car_details', car_id=car['id']) }}"
          class="car-card"
        >
          <h2 class="first">{{ car['make'] }} {{ car['model'] }}</h2>
          <h2 class="second">({{ car['year'] }})</h2>
          <img
            src="{{ url_for('static', filename=car['image_path'].replace('static/', '')) }}"
            alt="Car Image"
          />
        </a>
        {% endfor %}
      </div>
    </content>
    <footer>
      <div class="footer-content">
        <p>2023 TT Coursework. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
