<!DOCTYPE html>
<html>
  <head>
    <title>House Details</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/details.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="sitename">NotSS</div>
      <ul>
        <li><a href="{{ url_for('home') }}">Transporti</a></li>
        <li><a href="{{ url_for('houses') }}">Mājokļi</a></li>
        <li><a href="">Elektronikas Preces</a></li>
        <li class="sludinajums">
          <a href="{{ url_for('uploadhouse') }}" class="slud">Pievienot sludinājumu</a>
        </li>
      </ul>
      <div id="logout-button">
        <a href="{{ url_for('logout') }}" class="slud">Izlogoties</a>
      </div>
    </nav>
    <content class="details">
      <div class="pic-centered">
        <div class="pic">
        <img
          src="{{ url_for('static', filename=house['image_path'].replace('static/', '')) }}"
          alt="House Image"
        />
      </div>
    </div>
      <div class="house-info">
        <h1>{{ house['city'] }}</h1>
        <h2>{{ house['address'] }}</h2>
        <strong>Area:</strong> {{ house['area'] }} </br>
        <strong>Bedrooms:</strong> {{ house['bedrooms'] }}</br>
        <strong>Bathrooms:</strong> {{ house['bathrooms'] }}</br>
        <strong>Price:</strong> {{ house['price'] }}</br>
        <strong>Contact:</strong> {{ house['phone_number'] }}</br>
        <div class="desc">
          <h3>Apraksts:</h3> <p>{{ house['description'] }}</p>
        </div>
      </div>
    </content>
    <footer>
      <div class="footer-content">
        <p>2023 TT Coursework. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
