<!DOCTYPE html>
<html>
  <head>
    <title>House Details</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/house_details.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="sitename">NotSS</div>
      <ul>
        <li><a href="{{ url_for('home') }}">Transporti</a></li>
        <li><a href="{{ url_for('houses') }}">Mājokļi</a></li>
        <li><a href="">Elektronikas Preces</a></li>
        <li class="sludinajums">
          <a href="{{ url_for('uploadhouse') }}" class="slud">Pievienot sludinājumu</a>
        </li>
      </ul>
      <div id="user-welcome">
        <h2>Sveicināti, {{ username }}!</h2>
      </div>
      <div id="logout-button">
        <a href="{{ url_for('logout') }}" class="slud">Izlogoties</a>
      </div>
    </nav>
    <content class="house-details">
      <div class="house-image">
        <img
          src="{{ url_for('static', filename=house['image_path'].replace('static/', '')) }}"
          alt="House Image"
        />
      </div>
      <div class="house-info">
        <h1>{{ house['address'] }}</h1>
        <h2>{{ house['city'] }}</h2>
        <p>Area: {{ house['area'] }}</p>
        <p>Bedrooms: {{ house['bedrooms'] }}</p>
        <p>Bathrooms: {{ house['bathrooms'] }}</p>
        <p>Description: {{ house['description'] }}</p>
        <p>Price: {{ house['price'] }}</p>
        <p>Contact: {{ house['phone_number'] }}</p>
      </div>
    </content>
    <footer>
      <div class="footer-content">
        <p>2023 TT Coursework. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
