<!DOCTYPE html>
<html>
<head>
    <title>Pieslēdzies!</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    <div id="card">
        <div id="left">
            <div id="content">
            <img src="{{ url_for('static', filename='images/login.png') }}" alt="Logo"></div>
        </div>
        <div id="right">
            <div id="content">
                <h1>Pieslēdzies!</h1>
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                <form action="/login" method="POST">
                    <input type="text" id="username" name="username" placeholder="Lietotājvārds" required><br><br>
                    <input type="password" id="password" name="password" placeholder="Parole" required><br><br>
                    <input type="submit" value="Pieslēgties!">
                    <button class="button" onclick="window.location.href = '{{ url_for('register') }}';">Reģistrēties!</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</body>
</html>
