<!DOCTYPE html>
<html>
<head>
    <title>Reģistrējies!</title>
    <meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div id="card">
        <div id="content">
            <h1>Reģistrējies!</h1>
            <form action="/register" method="POST">
                <input type="text" id="username" name="username" placeholder="Lietotājvārds" required><br><br>
                <input type="password" id="password" name="password" placeholder="Parole" required><br><br>
                <input type="email" id="email" name="email" placeholder="E-PASTS" required><br><br>
                <input type="submit" value="Reģistrēties!">
                <button class="button" onclick="window.location.href = '{{ url_for('login') }}';">Pieslēgties!</button>
            </form>
        </div>
    </div>
</body>
</html>
