<!DOCTYPE html>
<html>
<head>
  <title>Car Sale - Upload</title>
</head>
<body>
  <h1>Upload a Car</h1>

  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
      {{ form.year.label }}: {{ form.year() }}
    </div>

    <div>
      {{ form.make.label }}: {{ form.make() }}
    </div>

    <div>
      {{ form.model.label }}: {{ form.model() }}
    </div>

    <div>
      {{ form.description.label }}: {{ form.description() }}
    </div>

    <div>
      {{ form.image.label }}: {{ form.image() }}
    </div>

    <div>
      <input type="submit" value="Upload">
    </div>
  </form>
</body>
</html>
