<!DOCTYPE html>
<html>
<head>
  <title>Car Sale - Car Details</title>
</head>
<body>
  <h1>Car Details</h1>

  <img src="{{ url_for('static', filename=car.image_path) }}" alt="Car Image">

  <div>
    <strong>Make:</strong> {{ car.make }}
  </div>

  <div>
    <strong>Model:</strong> {{ car.model }}
  </div>

  <div>
    <strong>Year:</strong> {{ car.year }}
  </div>

  <div>
    <strong>Description:</strong> {{ car.description }}
  </div>

  <div>
    <strong>Price:</strong> {{ car.price }}
  </div>

  <div>
    <strong>Phone Number:</strong> {{ car.phone_number }}
  </div>

  <div>
    <a href="{{ url_for('uploadcar') }}" class="slud">Upload a Car</a>
  </div>
</body>
</html>
